.hero {
  background: url("../images/hero-right-back.png");
  background-size: 650px 600px;
  background-repeat: no-repeat;
  background-position: right center;
  justify-content: space-around;
  display: flex;

  .right {
  }
  .hero__desc {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins Extra bold";
    font-size: 60px;
    line-height: 105px;
  }
  .hero__text {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins Regular";
    font-size: 25px;
    line-height: 45px;
    margin-bottom: 50px;
  }
  .left {
    height: 600px;
    width: 600px;
    background: url("../images/hero-right-img.png");

    background-repeat: no-repeat;
    background-position: center center;
  }
}
